<html>
    <title><%=pagetitle%></title>
    <link rel="stylesheet" href="css/style.css" />
          <body>
            <h1 class="specific">Welcome <%=username%> this is your Contact List !<form action="/form"><button type="submit">ADD MORE</button></form></h1>
            <ul>
              <% cand.forEach(candidate =>{ %>
                   <div class="divdetail">
                     <li><%=candidate.fname%></li>
                     <li><%=candidate.lname%></li>
                     <li><%=candidate.phoneno%></li>
                     <button><a href="/remove/<%=candidate._id%>" class="remove">Delete</a></button>
                     <button><a href="/edit/<%=candidate._id%>" class="edit">Update</a></button>
                   </div>
                   <br>
              <%})%>
            </ul>
            </body>
            </html>